* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
section {
  width: 100%;
  height: 100vh;
  background: #171717;
}

section nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 5% 8px 5%;
  background: #171717;
}
section nav .logo h1 {
  font-size: 25px;
  color: #fff;
  cursor: pointer;
}
section nav .logo h1 span {
  color: #ffe100;
  margin-left: 8px;
  text-decoration: underline;
}
section nav .right ul {
  list-style: none;
}
section nav .right ul li {
  display: inline-block;
  margin: 0 5px;
}
section nav .right ul li a {
  text-decoration: none;
  color: #fff;
  transition: 0.4s;
}
section nav .right ul li a:hover {
  color: #ffe100;
}
.carousel .carousel-inner .carousel-item img {
  display: block;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
  object-position: center !important;
  /* background-size: cover; */
}

.carousel .carousel-inner .carousel-item .black {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
}
.carousel .carousel-inner .carousel-item .black h1 {
  font-size: 30px;
  text-align: left;
  position: relative;
  top: 60%;
  left: 5%;
  color: #fff;
}
.carousel .carousel-inner .carousel-item .black .star {
  color: #ffe100;
  text-align: left;
  font-size: 16px;
  margin: 10px 0;
  position: relative;
  top: 60%;
  left: 5%;
}
.carousel .carousel-inner .carousel-item .black p {
  width: 550px;
  text-align: justify;
  font-size: 16px;
  color: #cccccc;
  margin: 10px 0;
  position: relative;
  top: 60%;
  left: 5%;
  line-height: 23px;
  font-family: Ink Free;
}
.carousel .carousel-inner .carousel-item .black .genre {
  text-align: left;
  font-size: 16px;
  margin: 13px 0;
  position: relative;
  top: 60%;
  left: 5%;
}
.carousel .carousel-inner .carousel-item .black .genre a.category {
  background: #282931;
  text-decoration: none;
  color: #cccccc;
  padding: 2px 7px;
}
.carousel .carousel-inner .carousel-item .black .genre span {
  color: #ffe100;
}
.carousel .carousel-inner .carousel-item .black .watch {
  width: 700px;
  text-align: left;
  display: flex;
  font-size: 16px;
  margin: 10px 0;
  position: relative;
  top: 60%;
  left: 5%;
}
.carousel .carousel-inner .carousel-item .black .watch i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  background: #ffe100;
  border-radius: 50%;
  cursor: pointer;
}
.carousel .carousel-inner .carousel-item .black .watch p {
  position: relative;
  left: 15px;
  font-family: sans-serif;
}
.carousel {
  width: 95% !important;
  height: 85%;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
